@use '../abstract/' as *;

.testimonials {
	margin: 3rem 2rem 2rem 2rem;
	display: grid;
	gap: 1.5rem;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'bar-top bar-top'
			'single-left single-right'
			'bar-medium bar-medium'
			'bar-bottom bar-bottom';
	}

	@include desktop {
		max-width: 106rem;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		gap: 2.5rem;
		grid-template-areas:
			'horizontal-top horizontal-top small-top vertical'
			'small-bottom horizontal-bottom horizontal-bottom vertical';
	}
}

.testimonial {
	font-family: $main-font;
	font-size: 1.5rem;
	color: $color-white;

	padding: 3.5rem 2.5rem;
	border-radius: 1rem;

	box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.15);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, max-content);
	gap: 2rem;

	&--violet {
		background-color: $color-moderate_violet;
		background-image: url('/images/bg-pattern-quotation.svg');
		background-repeat: no-repeat;
		background-position: top 0 right 5%;
		background-size: 12rem;

		@include tablet {
			grid-area: bar-top;
		}

		@include desktop {
			grid-area: horizontal-1;
			background-size: 15rem;
		}
	}

	&--dark-grayish-blue {
		background-color: $color-very_dark_grayish_blue;

		@include tablet {
			grid-area: single-left;
		}
	}

	&--grayish-blue {
		background-color: $color-grayish_blue;
	}

	&--blackish-blue {
		background-color: $color-very_dark_blackish_blue;
		@include tablet {
			grid-area: bar-medium;
		}
	}

	@include tablet {
		&--vertical {
			grid-area: bar-bottom;
		}
	}

	@include desktop {
		&--top {
			&--horizontal {
				grid-area: horizontal-top;
			}
			&--small {
				grid-area: small-top;
			}
		}

		&--bottom {
			&--horizontal {
				grid-area: horizontal-bottom;
			}
			&--small {
				grid-area: small-bottom;
			}
		}

		&--vertical {
			grid-area: vertical;
		}
	}

	&--dark-font {
		color: $color-very_dark_grayish_blue;
		& .testimonial {
			&__author {
				&-status {
					color: rgba($color-very_dark_grayish_blue, 0.5);
				}
			}
			&__quote {
				color: rgba($color-very_dark_grayish_blue, 0.7);
			}
		}
	}

	&__author {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-auto-columns: max-content;
		grid-template-areas:
			'img name'
			'img status';
		column-gap: 1rem;

		&-img {
			grid-area: img;
			border-radius: 100%;
			border: 0.4rem solid rgba(255, 255, 255, 0);
			&--violet-border {
				border: 0.4rem solid $color-moderate_violet;

				&--light {
					border: 0.4rem solid lighten($color-moderate_violet, 15);
				}
			}
		}
		&-name {
			grid-area: name;
			align-self: end;
		}
		&-status {
			grid-area: status;
			align-self: start;
			color: rgba($color-white, 0.5);
		}
	}

	&__quote {
		color: rgba($color-white, 0.7);
	}
}
